#rfs-open-files-dialog {
    td {
        background-color: var(--linkColor);
        &.checkbox-column {
            vertical-align: middle;
            width: 13px;
        }
        &.icons-column {
            padding-left: 13px;
            width: 24px;
            height: 24px;
        }
        &.status-column {
            width: 100%;
            vertical-align: middle;
        }
        &.selected {
            background-color: #288edf;
            color: #fff;
        }
    }
}

.rfs-file {
}

.rfs-icon {
    background-size: 100%;
    width: 24px;
    height: 24px;
    position: absolute;
    &.dir {
        background: url("icons/folder.svg") no-repeat 0 0;
    }
    &.file {
        background: url("icons/file.svg") no-repeat 0 0;
    }
}
