#sfs-files-dialog {
    td {
        &.checkbox-column {
            vertical-align: middle;
            width: 13px;
        }
        &.icons-column {
            padding-left: 13px;
            width: 1px;
        }
        &.status-column {
            width: 100px;
        }
    }
}
